* {
	box-sizing: border-box;
}
.tablecontainer {
	padding: 10px;
	margin: 0 auto;
	width: 40%;
	border: 1px solid black;
	border-collapse: collapse;
	float: left;
	display: inline-block;
	background-color: aliceblue;
}
.textBox {
	margin-left: 5%;
	width: 30%;
	display: inline-block;
}

.id-no {
	width: 10%;
}
.id {
	width: 10%;
	font-size: 20px;
}
.taskDisp {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}
textarea {
	resize: none;
	border: 2px solid red;
	font-size: 25px;
	font-weight: 600;
}
table {
	font-size: 24px;
	margin: 3%;
	padding: 2%;
	border: 2px solid blue;
	width: 90%;
}
.checked {
	background-color: red;
}
